.notification {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

.notification:hover {
    -fx-background-color: rgba(0, 0, 0, 0.85);
}

/*
Notification - Type INFO
*/
.notification.info {
    -fx-background-color: rgba(0, 0, 70, 0.8);
}

.notification.info:hover {
    -fx-background-color: rgba(0, 0, 120, 0.8);
}

/*
Notification - Type WARNING
*/
.notification.warning {
    -fx-background-color: rgba(70, 70, 0, 0.8);
}

.notification.warning:hover {
    -fx-background-color: rgba(120, 120, 0, 0.8);
}

/*
Notification - Type ERROR
*/
.notification.error {
    -fx-background-color: rgba(70, 0, 0, 0.8);
}

.notification.error:hover {
    -fx-background-color: rgba(120, 0, 0, 0.8);
}

/*
Header
*/
.header {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

/*
Labels
*/
.label {
    -fx-text-fill: white;
    -fx-font-size: 11pt;
}

/*
Buttons
*/
#contentBox .button {
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-background-color: -fx-focus-color;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

#contentBox .button:hover {
    -fx-text-fill: -fx-focus-color;
    -fx-background-color: white;
}

#contentBox .button:focused {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

/*
Close-Button
*/
.notification-closebutton {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.notification-closebuttongraphic {
    -fx-fill: white;
}

.notification-closebutton:hover {
    -fx-background-color: rgba(255, 0, 0, 1);
}

/*
CheckBoxen
*/
.check-box {
    -fx-text-fill: white;
}

.check-box:hover {
    -fx-text-fill: -fx-focus-color;
}

.check-box .box {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-border-color: rgba(255, 255, 255, 0.50);
}

.check-box:hover .box {
    -fx-border-color: -fx-focus-color;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected:hover .mark {
    -fx-background-color: -fx-focus-color;
}

/*
ProgressBars
*/
.progress-bar .track {
    -fx-border-color: white;
    -fx-border-radius: 60;
    -fx-background-color: rgba(255, 255, 255, 0.25);
    -fx-background-radius: 60;
}

.progress-bar .bar {
    -fx-background-radius: 60;
    -fx-background-insets: 2;
    -fx-padding: 4px;
}