/*
    Created on : 30.01.2015, 22:50:08
    Author     : Philipp Bruckner
*/

/*
Notification - Type NONE
*/
.notification {
    -fx-background-color: rgba(0, 0, 0, 0.75);
    -fx-background-radius: 5;
}

.notification:hover {
    -fx-background-color: rgba(0, 0, 0, 0.85);
}

/*
Notification - Type INFO
*/
.notification.info {
    -fx-background-color: rgba(0, 0, 70, 0.8);
}

.notification.info:hover {
    -fx-background-color: rgba(0, 0, 120, 0.8);
}

/*
Notification - Type WARNING
*/
.notification.warning {
    -fx-background-color: rgba(70, 70, 0, 0.8);
}

.notification.warning:hover {
    -fx-background-color: rgba(120, 120, 0, 0.8);
}

/*
Notification - Type ERROR
*/
.notification.error {
    -fx-background-color: rgba(70, 0, 0, 0.8);
}

.notification.error:hover {
    -fx-background-color: rgba(120, 0, 0, 0.8);
}

/*
Header
*/
.notification .header {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

/*
Label
*/
.notification .label {
    -fx-text-fill: white;
    -fx-font-size: 11pt;
}

/*
Close-Button
*/
.notification-closebutton {
    -fx-background-color: transparent;
    -fx-background-radius: 0 5 0 5;
    -fx-background-insets: 0;
}

.notification-closebuttongraphic {
    -fx-fill: red;
}

.notification-closebutton:hover {
    -fx-background-color: red;
}

.notification-closebutton:hover .notification-closebuttongraphic {
    -fx-fill: white;
}

.notification.error .notification-closebuttongraphic {
    -fx-fill: white;
}

.notification.error .notification-closebutton:hover {
    -fx-background-color: white;
}

.notification.error .notification-closebutton:hover .notification-closebuttongraphic {
    -fx-fill: red;
}

/*
CheckBox
*/
.notification .check-box {
    -fx-text-fill: white;
}

.notification .check-box .box {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-background-radius: 5;
    -fx-border-color: white;
    -fx-border-radius: 5;
}

.notification .check-box:hover {
    -fx-text-fill: -fx-focus-color;
}

.notification .check-box:hover .box {
    -fx-border-color: -fx-focus-color;
}

.notification .check-box:selected .mark {
    -fx-background-color: -fx-focus-color;
}

/*
ProgressBar
*/
.notification .progress-bar .track {
    -fx-border-color: white;
    -fx-border-radius: 60;
    -fx-background-color: rgba(255, 255, 255, 0.25);
    -fx-background-radius: 60;
}

.notification .progress-bar .bar {
    -fx-background-radius: 60;
    -fx-background-insets: 2;
    -fx-padding: 4px;
}