/*
    Created on : 30.01.2015, 22:50:08
    Author     : Philipp Bruckner
*/

/*
Notificationbar
*/
.notificationbar.info {
    -fx-background-color: cornflowerblue;
}

.notificationbar.warning {
    -fx-background-color: goldenrod;
}

.notificationbar.error {
    -fx-background-color: orangered;
}

/*
Buttons
*/
.notificationbar-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.notificationbar-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.notificationbar-closebutton:hover {
    -fx-background-color: red;
}

.notificationbar.error .notificationbar-closebutton:hover {
    -fx-background-color: white;
}

/*
Button-Graphics
*/
.notificationbar-buttongraphic {
    -fx-fill: black;
}

.notificationbar-button:hover .notificationbar-buttongraphic {
    -fx-fill: white;
}

.notificationbar.error .notificationbar-button:hover .notificationbar-closebuttongraphic {
    -fx-fill: red;
}