/*
    Created on : 30.01.2015, 22:50:08
    Author     : Philipp Bruckner
*/
.notificationbar.info {
    -fx-background-color: cornflowerblue;
}

.notificationbar.warning {
    -fx-background-color: goldenrod;
}

.notificationbar.error {
    -fx-background-color: orangered;
}

.notificationbar .notificationbarbutton {
    -fx-background-color: black;
}

.notificationbar .notificationbarbutton:hover {
    -fx-background-color: darkgrey;
}

.notificationbar .notificationbarbutton:pressed {
    -fx-background-color: dimgrey;
}

.notificationbar .nextbutton {
    -fx-shape: "M 0 0 L 100 50 L 0 100 Z";
}

.notificationbar .previousbutton {
    -fx-shape: "M 100 0 L 0 50 L 100 100 Z";
}

.notificationbar .closebutton {
    -fx-shape: "M 20 0 L 100 80 L 80 100 L 0 20 Z M 0 80 L 80 0 L 100 20 L 20 100 Z";
}